# dbt artifacts
airbnb2/target
airbnb2/logs
airbnb2/dbt_packages
logs

# dbt logs
/run

# Compiled python files
__pycache__

# Local configuration files
profiles.yml

# Python virtual environment
venv
.idea